In [1]:
import csv
import random

def generate_data(num_rows):
    # Generate random data for each row
    id = ['ID{:04}'.format(i) for i in range(1, 101)]
    full_name = ['Emma', 'Noah', 'Olivia', 'Liam', 'Ava', 'William', 'Sophia', 'Mason', 'Isabella', 'James', 'Mia', 'Benjamin', 'Charlotte', 'Jacob', 'Amelia', 'Michael', 'Harper', 'Ethan', 'Evelyn', 'Daniel', 'Abigail', 'Matthew', 'Emily', 'Logan', 'Elizabeth', 'Lucas', 'Sofia', 'Jackson', 'Avery', 'David', 'Ella', 'Carter', 'Madison', 'Alexander', 'Scarlett', 'Joseph', 'Victoria', 'Owen', 'Aria', 'Samuel', 'Grace', 'Sebastian', 'Chloe', 'Henry', 'Penelope', 'Jacob', 'Riley', 'Levi', 'Aubrey', 'Luke', 'Lily', 'Gabriel', 'Addison', 'Anthony', 'Natalie', 'Isaac', 'Luna', 'Caleb', 'Zoey', 'Dylan', 'Hannah', 'Wyatt', 'Layla', 'Andrew', 'Stella', 'Grayson', 'Bella', 'Eli', 'Nova', 'Nicholas', 'Genesis', 'Connor', 'Savannah', 'Miles', 'Hazel', 'Lincoln', 'Autumn', 'Ryan', 'Aurora', 'Nathan', 'Paisley', 'Isaiah', 'Skylar', 'Evelyn', 'Zoe', 'Mason', 'Ellie', 'Ezra', 'Aaliyah', 'Charles', 'Aria', 'Eleanor', 'Claire', 'Hunter', 'Lila', 'Christian', 'Lucy']
    user_name = [f'user{i}' for i in range(1, num_rows+1)]
    password = [''.join(random.choices('abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890', k=8)) for _ in range(num_rows)]
    phone_number = [''.join(random.choices('0123456789', k=10)) for _ in range(num_rows)]
    login_status = ['logged in' if random.random() < 0.8 else 'logged out' for _ in range(num_rows)]
    
    # Combine the data into rows
    rows = []
    for i in range(num_rows):
        row = (id[i], random.choice(full_name), user_name[i], password[i], phone_number[i], login_status[i])
        rows.append(row)
    
    return rows

def create_csv(filename, num_rows):
    # Generate the data
    rows = generate_data(num_rows)
    
    # Write the data to a CSV file
    with open(filename, 'w', newline='') as csvfile:
        writer = csv.writer(csvfile)
        writer.writerow(('id', 'full_name', 'user_name', 'password', 'phone_number', 'login_status'))
        writer.writerows(rows)

# Example usage: create a CSV file with 100 rows
create_csv('users.csv', 100)

In [2]:
import pandas as pd
df = pd.read_csv('users.csv')
df

        id  full_name user_name  password  phone_number login_status
0   ID0001     Andrew     user1  4clyalIU    6773792725   logged out
1   ID0002        Ava     user2  6ojRMOfD    3264409821    logged in
2   ID0003      Chloe     user3  GbrsstQO    5798060019    logged in
3   ID0004       Lila     user4  etVixogM    1768811198    logged in
4   ID0005  Alexander     user5  oJFGToel     271607366    logged in
..     ...        ...       ...       ...           ...          ...
95  ID0096      James    user96  61ivEBbI    5193005628    logged in
96  ID0097     Stella    user97  ZRqgJq1u    8662973708   logged out
97  ID0098      Mason    user98  jvXjIojZ    3047586156    logged in
98  ID0099    Eleanor    user99  BJ30X4ve     768270383    logged in
99  ID0100    Addison   user100  6pF9TwZi    4301883298    logged in

[100 rows x 6 columns]

In [3]:
len(df['id'].unique())

100